### Python Data Structures and Boolean

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

### Boolean Variable
Boolean values are the two constant objects True and False.

They are used to represent truth values(other values can also be considered as false or true).
In numeric context(for ex. when used as the argument to an arithmetic operator),they behave like the integers 0 and 1 , respectively.

The built-in function bool() can be used to cast any value to boolean,if the value can be interpreted as a truth value

They are written as true or False,respectively.

In [1]:
print(True,False)

True False

In [2]:
type(True)

bool

In [3]:
type(False)

bool

In [4]:
my_str = "Amruta Varma"

In [5]:
print(my_str.isalnum())#check if all char are numbers
print(my_str.isalpha())#check if all char in the str are alphabetic
print(my_str.isdigit())#test if string contains digits
print(my_str.istitle())#test if string contains title words
print(my_str.isupper())#test if string contains upper case
print(my_str.islower())#test if string contains lower case
print(my_str.isspace())#test if string contains spaces
print(my_str.endswith('k'))#test if string ends with a d
print(my_str.startswith('V'))#test if string starts with V

False
False
False
True
False
False
False
False
False

#### Boolean and Logical Operators

In [6]:
True and True

True

In [7]:
True and False

False

In [8]:
True or False

True

In [9]:
True or True

True

In [10]:
str_example = "Hello World"
my_str = 'Amruta'

In [11]:
my_str.isalpha() or str_example.isnumeric()

True

#### Lists

A list is a data structure in python that is mutable, or changeable,ordered sequence or elements. Each element or value that is inside a list is called a item. Just as strings are defined as characters between qquotes, lists are defined by having values between square brackets[]

In [12]:
lst_example = []

In [13]:
type(lst_example)

list

In [14]:
lst = list()

In [15]:
type(lst)

list

In [16]:
lst = ['Mathematics',' chemistry',100,200,300,400]

In [17]:
type(lst)

list

In [18]:
len(lst)

6

#### Append

In [19]:
lst.append(1)

In [20]:
lst

['Mathematics', ' chemistry', 100, 200, 300, 400, 1]

In [21]:
lst.append(["John","Bala"])

In [22]:
lst

['Mathematics', ' chemistry', 100, 200, 300, 400, 1, ['John', 'Bala']]

In [23]:
#Indexing i list
lst[2]

100

In [24]:
lst[3]

200

In [25]:
lst[:]

['Mathematics', ' chemistry', 100, 200, 300, 400, 1, ['John', 'Bala']]

In [26]:
lst[1:6]

[' chemistry', 100, 200, 300, 400]

In [27]:
lst[1:]

[' chemistry', 100, 200, 300, 400, 1, ['John', 'Bala']]

#### Insert

In [28]:
#insert in a specific order
lst.insert(2,"Varma")

In [29]:
lst

['Mathematics', ' chemistry', 'Varma', 100, 200, 300, 400, 1, ['John', 'Bala']]

In [30]:
lst.append(["Hello World"])

In [31]:
lst

['Mathematics',
 ' chemistry',
 'Varma',
 100,
 200,
 300,
 400,
 1,
 ['John', 'Bala'],
 ['Hello World']]

#### Extend Method

In [32]:
lst=[1,2,3]

In [33]:
lst.append([4,5])

In [34]:
lst

[1, 2, 3, [4, 5]]

In [35]:
lst.extend([6,7])

In [36]:
lst

[1, 2, 3, [4, 5], 6, 7]

#### Various operations that we can perform in List

In [37]:
lst=[1,2,3,4,5]

In [38]:
sum(lst)

15

In [54]:
lst*2

[1, 2, 3, 4, 4, 5, 1, 2, 3, 4, 4, 5]

#### Pop() Method

In [39]:
lst.pop()

5

In [40]:
lst

[1, 2, 3, 4]

In [41]:
lst.pop(0)

1

In [42]:
lst

[2, 3, 4]

#### count() : Calculates total occurence of given element of list

In [48]:
lst = [1,2,3,4,4,5]
lst.count(4)

2

In [49]:
len(lst)

6

In [51]:
# index() - returns the index of first occurence,start and end index are not necessary parameters
lst.index(1)

0

In [52]:
min(lst)

1

In [53]:
max(lst)

5