## Pandas Tutorial

Pandas is an open source,BSD-licensed library providing high performance,easy-to-use data structures and data analysis tools for the python programming languages.

Agenda
- What is DataFrame
- What is Data Series
- Different operation in pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=['Column1','Column2','Columns3','Column4'])

In [3]:
df.head()

      Column1  Column2  Columns3  Column4
Row1        0        1         2        3
Row2        4        5         6        7
Row3        8        9        10       11
Row4       12       13        14       15
Row5       16       17        18       19

In [4]:
df.to_csv('Test1')

In [5]:
#Accesing the elements
# 1..loc
# 2 .iloc
df.loc['Row1']

Column1     0
Column2     1
Columns3    2
Column4     3
Name: Row1, dtype: int32

In [6]:
type(df.loc["Row1"])

pandas.core.series.Series

In [7]:
df.iloc[:,:]

      Column1  Column2  Columns3  Column4
Row1        0        1         2        3
Row2        4        5         6        7
Row3        8        9        10       11
Row4       12       13        14       15
Row5       16       17        18       19

In [8]:
df.iloc[:,1:]

      Column2  Columns3  Column4
Row1        1         2        3
Row2        5         6        7
Row3        9        10       11
Row4       13        14       15
Row5       17        18       19

In [9]:
df.iloc[0:3,0:2]

      Column1  Column2
Row1        0        1
Row2        4        5
Row3        8        9

In [10]:
#convert Dataframes into array
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [11]:
df['Column1'].value_counts

<bound method IndexOpsMixin.value_counts of Row1     0
Row2     4
Row3     8
Row4    12
Row5    16
Name: Column1, dtype: int32>

In [12]:
df.isnull().sum()

Column1     0
Column2     0
Columns3    0
Column4     0
dtype: int64

In [13]:
df.duplicated().sum()

0

In [14]:
df['Column1'].unique()

array([ 0,  4,  8, 12, 16])

In [15]:
df = pd.read_csv('mercedesbenz.csv')

In [16]:
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [18]:
df.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [19]:
df['X0'].value_counts()

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
m      34
ai     34
e      32
ba     27
at     25
a      21
ax     19
aq     18
am     18
i      18
u      17
aw     16
l      16
ad     14
au     11
k      11
b      11
r      10
as     10
bc      6
ao      4
c       3
aa      2
q       2
ac      1
g       1
ab      1
Name: X0, dtype: int64

## CSV

In [20]:
from io import StringIO,BytesIO

In [21]:
data = ('col1,col2,col3\n'
        'x,y,1\n'
        'a,b,2\n'
        'c,d,3')

In [22]:
type(data)

str

In [23]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [24]:
# read from specific columns

df = pd.read_csv(StringIO(data),usecols=['col1','col3'] )
df

  col1  col3
0    x     1
1    a     2
2    c     3

In [25]:
df.to_csv('test.csv')

In [26]:
#specifying columns data types

data = ('a,b,c,d\n'
        '1,2,3,4\n'
        '5,6,7,8\n'
        '9,10,11')

In [27]:
print(data)

a,b,c,d
1,2,3,4
5,6,7,8
9,10,11

In [28]:
df = pd.read_csv(StringIO(data),dtype = object)
df

   a   b   c    d
0  1   2   3    4
1  5   6   7    8
2  9  10  11  NaN

In [29]:
df['a'][1]

'5'

## Read JSON to CSV

In [30]:
df1 = pd.read_csv('wine.csv')

In [31]:
df1.head()

,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0,0,0,0,0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,1,1,1,1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,2,2,2,2,2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,3,3,3,3,3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,4,4,4,4,4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [32]:
df1.to_csv('wine.csv')

In [33]:
df1.to_json(orient="records")

'[{"Unnamed: 0.4":0,"Unnamed: 0.3":0,"Unnamed: 0.2":0,"Unnamed: 0.1":0,"Unnamed: 0":0,"0":1,"1":14.23,"2":1.71,"3":2.43,"4":15.6,"5":127,"6":2.8,"7":3.06,"8":0.28,"9":2.29,"10":5.64,"11":1.04,"12":3.92,"13":1065},{"Unnamed: 0.4":1,"Unnamed: 0.3":1,"Unnamed: 0.2":1,"Unnamed: 0.1":1,"Unnamed: 0":1,"0":1,"1":13.2,"2":1.78,"3":2.14,"4":11.2,"5":100,"6":2.65,"7":2.76,"8":0.26,"9":1.28,"10":4.38,"11":1.05,"12":3.4,"13":1050},{"Unnamed: 0.4":2,"Unnamed: 0.3":2,"Unnamed: 0.2":2,"Unnamed: 0.1":2,"Unnamed: 0":2,"0":1,"1":13.16,"2":2.36,"3":2.67,"4":18.6,"5":101,"6":2.8,"7":3.24,"8":0.3,"9":2.81,"10":5.68,"11":1.03,"12":3.17,"13":1185},{"Unnamed: 0.4":3,"Unnamed: 0.3":3,"Unnamed: 0.2":3,"Unnamed: 0.1":3,"Unnamed: 0":3,"0":1,"1":14.37,"2":1.95,"3":2.5,"4":16.8,"5":113,"6":3.85,"7":3.49,"8":0.24,"9":2.18,"10":7.8,"11":0.86,"12":3.45,"13":1480},{"Unnamed: 0.4":4,"Unnamed: 0.3":4,"Unnamed: 0.2":4,"Unnamed: 0.1":4,"Unnamed: 0":4,"0":1,"1":13.24,"2":2.59,"3":2.87,"4":21.0,"5":118,"6":2.8,"7":2.69,"8":0.39,"9":1.82,"10":4.32,"11":1.04,"12":2.93,"13":735},{"Unnamed: 0.4":5,"Unnamed: 0.3":5,"Unnamed: 0.2":5,"Unnamed: 0.1":5,"Unnamed: 0":5,"0":1,"1":14.2,"2":1.76,"3":2.45,"4":15.2,"5":112,"6":3.27,"7":3.39,"8":0.34,"9":1.97,"10":6.75,"11":1.05,"12":2.85,"13":1450},{"Unnamed: 0.4":6,"Unnamed: 0.3":6,"Unnamed: 0.2":6,"Unnamed: 0.1":6,"Unnamed: 0":6,"0":1,"1":14.39,"2":1.87,"3":2.45,"4":14.6,"5":96,"6":2.5,"7":2.52,"8":0.3,"9":1.98,"10":5.25,"11":1.02,"12":3.58,"13":1290},{"Unnamed: 0.4":7,"Unnamed: 0.3":7,"Unnamed: 0.2":7,"Unnamed: 0.1":7,"Unnamed: 0":7,"0":1,"1":14.06,"2":2.15,"3":2.61,"4":17.6,"5":121,"6":2.6,"7":2.51,"8":0.31,"9":1.25,"10":5.05,"11":1.06,"12":3.58,"13":1295},{"Unnamed: 0.4":8,"Unnamed: 0.3":8,"Unnamed: 0.2":8,"Unnamed: 0.1":8,"Unnamed: 0":8,"0":1,"1":14.83,"2":1.64,"3":2.17,"4":14.0,"5":97,"6":2.8,"7":2.98,"8":0.29,"9":1.98,"10":5.2,"11":1.08,"12":2.85,"13":1045},{"Unnamed: 0.4":9,"Unnamed: 0.3":9,"Unnamed: 0.2":9,"Unnamed: 0.1":9,"Unnamed: 0":9,"0":1,"1":13.86,"2":1.35,"3":2.27,"4":16.0,"5":98,"6":2.98,"7":3.15,"8":0.22,"9":1.85,"10":7.22,"11":1.01,"12":3.55,"13":1045},{"Unnamed: 0.4":10,"Unnamed: 0.3":10,"Unnamed: 0.2":10,"Unnamed: 0.1":10,"Unnamed: 0":10,"0":1,"1":14.1,"2":2.16,"3":2.3,"4":18.0,"5":105,"6":2.95,"7":3.32,"8":0.22,"9":2.38,"10":5.75,"11":1.25,"12":3.17,"13":1510},{"Unnamed: 0.4":11,"Unnamed: 0.3":11,"Unnamed: 0.2":11,"Unnamed: 0.1":11,"Unnamed: 0":11,"0":1,"1":14.12,"2":1.48,"3":2.32,"4":16.8,"5":95,"6":2.2,"7":2.43,"8":0.26,"9":1.57,"10":5.0,"11":1.17,"12":2.82,"13":1280},{"Unnamed: 0.4":12,"Unnamed: 0.3":12,"Unnamed: 0.2":12,"Unnamed: 0.1":12,"Unnamed: 0":12,"0":1,"1":13.75,"2":1.73,"3":2.41,"4":16.0,"5":89,"6":2.6,"7":2.76,"8":0.29,"9":1.81,"10":5.6,"11":1.15,"12":2.9,"13":1320},{"Unnamed: 0.4":13,"Unnamed: 0.3":13,"Unnamed: 0.2":13,"Unnamed: 0.1":13,"Unnamed: 0":13,"0":1,"1":14.75,"2":1.73,"3":2.39,"4":11.4,"5":91,"6":3.1,"7":3.69,"8":0.43,"9":2.81,"10":5.4,"11":1.25,"12":2.73,"13":1150},{"Unnamed: 0.4":14,"Unnamed: 0.3":14,"Unnamed: 0.2":14,"Unnamed: 0.1":14,"Unnamed: 0":14,"0":1,"1":14.38,"2":1.87,"3":2.38,"4":12.0,"5":102,"6":3.3,"7":3.64,"8":0.29,"9":2.96,"10":7.5,"11":1.2,"12":3.0,"13":1547},{"Unnamed: 0.4":15,"Unnamed: 0.3":15,"Unnamed: 0.2":15,"Unnamed: 0.1":15,"Unnamed: 0":15,"0":1,"1":13.63,"2":1.81,"3":2.7,"4":17.2,"5":112,"6":2.85,"7":2.91,"8":0.3,"9":1.46,"10":7.3,"11":1.28,"12":2.88,"13":1310},{"Unnamed: 0.4":16,"Unnamed: 0.3":16,"Unnamed: 0.2":16,"Unnamed: 0.1":16,"Unnamed: 0":16,"0":1,"1":14.3,"2":1.92,"3":2.72,"4":20.0,"5":120,"6":2.8,"7":3.14,"8":0.33,"9":1.97,"10":6.2,"11":1.07,"12":2.65,"13":1280},{"Unnamed: 0.4":17,"Unnamed: 0.3":17,"Unnamed: 0.2":17,"Unnamed: 0.1":17,"Unnamed: 0":17,"0":1,"1":13.83,"2":1.57,"3":2.62,"4":20.0,"5":115,"6":2.95,"7":3.4,"8":0.4,"9":1.72,"10":6.6,"11":1.13,"12":2.57,"13":1130},{"Unnamed: 0.4":18,"Unnamed: 0.3":18,"Unnamed: 0.2":18,"Unnamed: 0.1":18,"Unnamed: 0":18,"0":1,"1":14.19,"2":1.59,"3":2.48,"4":16.5,"5":108,"6":3.3,"7":3.93,"8":0.32,"9":1.86,"10":8.7,"11":1.23,"12":2.82,"13":1680},{"Unnamed: 0.4":19,"Unnamed: 0.3":19,"Unnamed: 0.2":19,"Unnamed: 0.1":19,"Unnamed: 0":19,"0":1,"1":13.64,"2":3.1,"3":2.56,"4":15.2,"5":116,"6":2.7,"7":3.03,"8":0.17,"9":1.66,"10":5.1,"11":0.96,"12":3.36,"13":845},{"Unnamed: 0.4":20,"Unnamed: 0.3":20,"Unnamed: 0.2":20,"Unnamed: 0.1":20,"Unnamed: 0":20,"0":1,"1":14.06,"2":1.63,"3":2.28,"4":16.0,"5":126,"6":3.0,"7":3.17,"8":0.24,"9":2.1,"10":5.65,"11":1.09,"12":3.71,"13":780},{"Unnamed: 0.4":21,"Unnamed: 0.3":21,"Unnamed: 0.2":21,"Unnamed: 0.1":21,"Unnamed: 0":21,"0":1,"1":12.93,"2":3.8,"3":2.65,"4":18.6,"5":102,"6":2.41,"7":2.41,"8":0.25,"9":1.98,"10":4.5,"11":1.03,"12":3.52,"13":770},{"Unnamed: 0.4":22,"Unnamed: 0.3":22,"Unnamed: 0.2":22,"Unnamed: 0.1":22,"Unnamed: 0":22,"0":1,"1":13.71,"2":1.86,"3":2.36,"4":16.6,"5":101,"6":2.61,"7":2.88,"8":0.27,"9":1.69,"10":3.8,"11":1.11,"12":4.0,"13":1035},{"Unnamed: 0.4":23,"Unnamed: 0.3":23,"Unnamed: 0.2":23,"Unnamed: 0.1":23,"Unnamed: 0":23,"0":1,"1":12.85,"2":1.6,"3":2.52,"4":17.8,"5":95,"6":2.48,"7":2.37,"8":0.26,"9":1.46,"10":3.93,"11":1.09,"12":3.63,"13":1015},{"Unnamed: 0.4":24,"Unnamed: 0.3":24,"Unnamed: 0.2":24,"Unnamed: 0.1":24,"Unnamed: 0":24,"0":1,"1":13.5,"2":1.81,"3":2.61,"4":20.0,"5":96,"6":2.53,"7":2.61,"8":0.28,"9":1.66,"10":3.52,"11":1.12,"12":3.82,"13":845},{"Unnamed: 0.4":25,"Unnamed: 0.3":25,"Unnamed: 0.2":25,"Unnamed: 0.1":25,"Unnamed: 0":25,"0":1,"1":13.05,"2":2.05,"3":3.22,"4":25.0,"5":124,"6":2.63,"7":2.68,"8":0.47,"9":1.92,"10":3.58,"11":1.13,"12":3.2,"13":830},{"Unnamed: 0.4":26,"Unnamed: 0.3":26,"Unnamed: 0.2":26,"Unnamed: 0.1":26,"Unnamed: 0":26,"0":1,"1":13.39,"2":1.77,"3":2.62,"4":16.1,"5":93,"6":2.85,"7":2.94,"8":0.34,"9":1.45,"10":4.8,"11":0.92,"12":3.22,"13":1195},{"Unnamed: 0.4":27,"Unnamed: 0.3":27,"Unnamed: 0.2":27,"Unnamed: 0.1":27,"Unnamed: 0":27,"0":1,"1":13.3,"2":1.72,"3":2.14,"4":17.0,"5":94,"6":2.4,"7":2.19,"8":0.27,"9":1.35,"10":3.95,"11":1.02,"12":2.77,"13":1285},{"Unnamed: 0.4":28,"Unnamed: 0.3":28,"Unnamed: 0.2":28,"Unnamed: 0.1":28,"Unnamed: 0":28,"0":1,"1":13.87,"2":1.9,"3":2.8,"4":19.4,"5":107,"6":2.95,"7":2.97,"8":0.37,"9":1.76,"10":4.5,"11":1.25,"12":3.4,"13":915},{"Unnamed: 0.4":29,"Unnamed: 0.3":29,"Unnamed: 0.2":29,"Unnamed: 0.1":29,"Unnamed: 0":29,"0":1,"1":14.02,"2":1.68,"3":2.21,"4":16.0,"5":96,"6":2.65,"7":2.33,"8":0.26,"9":1.98,"10":4.7,"11":1.04,"12":3.59,"13":1035},{"Unnamed: 0.4":30,"Unnamed: 0.3":30,"Unnamed: 0.2":30,"Unnamed: 0.1":30,"Unnamed: 0":30,"0":1,"1":13.73,"2":1.5,"3":2.7,"4":22.5,"5":101,"6":3.0,"7":3.25,"8":0.29,"9":2.38,"10":5.7,"11":1.19,"12":2.71,"13":1285},{"Unnamed: 0.4":31,"Unnamed: 0.3":31,"Unnamed: 0.2":31,"Unnamed: 0.1":31,"Unnamed: 0":31,"0":1,"1":13.58,"2":1.66,"3":2.36,"4":19.1,"5":106,"6":2.86,"7":3.19,"8":0.22,"9":1.95,"10":6.9,"11":1.09,"12":2.88,"13":1515},{"Unnamed: 0.4":32,"Unnamed: 0.3":32,"Unnamed: 0.2":32,"Unnamed: 0.1":32,"Unnamed: 0":32,"0":1,"1":13.68,"2":1.83,"3":2.36,"4":17.2,"5":104,"6":2.42,"7":2.69,"8":0.42,"9":1.97,"10":3.84,"11":1.23,"12":2.87,"13":990},{"Unnamed: 0.4":33,"Unnamed: 0.3":33,"Unnamed: 0.2":33,"Unnamed: 0.1":33,"Unnamed: 0":33,"0":1,"1":13.76,"2":1.53,"3":2.7,"4":19.5,"5":132,"6":2.95,"7":2.74,"8":0.5,"9":1.35,"10":5.4,"11":1.25,"12":3.0,"13":1235},{"Unnamed: 0.4":34,"Unnamed: 0.3":34,"Unnamed: 0.2":34,"Unnamed: 0.1":34,"Unnamed: 0":34,"0":1,"1":13.51,"2":1.8,"3":2.65,"4":19.0,"5":110,"6":2.35,"7":2.53,"8":0.29,"9":1.54,"10":4.2,"11":1.1,"12":2.87,"13":1095},{"Unnamed: 0.4":35,"Unnamed: 0.3":35,"Unnamed: 0.2":35,"Unnamed: 0.1":35,"Unnamed: 0":35,"0":1,"1":13.48,"2":1.81,"3":2.41,"4":20.5,"5":100,"6":2.7,"7":2.98,"8":0.26,"9":1.86,"10":5.1,"11":1.04,"12":3.47,"13":920},{"Unnamed: 0.4":36,"Unnamed: 0.3":36,"Unnamed: 0.2":36,"Unnamed: 0.1":36,"Unnamed: 0":36,"0":1,"1":13.28,"2":1.64,"3":2.84,"4":15.5,"5":110,"6":2.6,"7":2.68,"8":0.34,"9":1.36,"10":4.6,"11":1.09,"12":2.78,"13":880},{"Unnamed: 0.4":37,"Unnamed: 0.3":37,"Unnamed: 0.2":37,"Unnamed: 0.1":37,"Unnamed: 0":37,"0":1,"1":13.05,"2":1.65,"3":2.55,"4":18.0,"5":98,"6":2.45,"7":2.43,"8":0.29,"9":1.44,"10":4.25,"11":1.12,"12":2.51,"13":1105},{"Unnamed: 0.4":38,"Unnamed: 0.3":38,"Unnamed: 0.2":38,"Unnamed: 0.1":38,"Unnamed: 0":38,"0":1,"1":13.07,"2":1.5,"3":2.1,"4":15.5,"5":98,"6":2.4,"7":2.64,"8":0.28,"9":1.37,"10":3.7,"11":1.18,"12":2.69,"13":1020},{"Unnamed: 0.4":39,"Unnamed: 0.3":39,"Unnamed: 0.2":39,"Unnamed: 0.1":39,"Unnamed: 0":39,"0":1,"1":14.22,"2":3.99,"3":2.51,"4":13.2,"5":128,"6":3.0,"7":3.04,"8":0.2,"9":2.08,"10":5.1,"11":0.89,"12":3.53,"13":760},{"Unnamed: 0.4":40,"Unnamed: 0.3":40,"Unnamed: 0.2":40,"Unnamed: 0.1":40,"Unnamed: 0":40,"0":1,"1":13.56,"2":1.71,"3":2.31,"4":16.2,"5":117,"6":3.15,"7":3.29,"8":0.34,"9":2.34,"10":6.13,"11":0.95,"12":3.38,"13":795},{"Unnamed: 0.4":41,"Unnamed: 0.3":41,"Unnamed: 0.2":41,"Unnamed: 0.1":41,"Unnamed: 0":41,"0":1,"1":13.41,"2":3.84,"3":2.12,"4":18.8,"5":90,"6":2.45,"7":2.68,"8":0.27,"9":1.48,"10":4.28,"11":0.91,"12":3.0,"13":1035},{"Unnamed: 0.4":42,"Unnamed: 0.3":42,"Unnamed: 0.2":42,"Unnamed: 0.1":42,"Unnamed: 0":42,"0":1,"1":13.88,"2":1.89,"3":2.59,"4":15.0,"5":101,"6":3.25,"7":3.56,"8":0.17,"9":1.7,"10":5.43,"11":0.88,"12":3.56,"13":1095},{"Unnamed: 0.4":43,"Unnamed: 0.3":43,"Unnamed: 0.2":43,"Unnamed: 0.1":43,"Unnamed: 0":43,"0":1,"1":13.24,"2":3.98,"3":2.29,"4":17.5,"5":103,"6":2.64,"7":2.63,"8":0.32,"9":1.66,"10":4.36,"11":0.82,"12":3.0,"13":680},{"Unnamed: 0.4":44,"Unnamed: 0.3":44,"Unnamed: 0.2":44,"Unnamed: 0.1":44,"Unnamed: 0":44,"0":1,"1":13.05,"2":1.77,"3":2.1,"4":17.0,"5":107,"6":3.0,"7":3.0,"8":0.28,"9":2.03,"10":5.04,"11":0.88,"12":3.35,"13":885},{"Unnamed: 0.4":45,"Unnamed: 0.3":45,"Unnamed: 0.2":45,"Unnamed: 0.1":45,"Unnamed: 0":45,"0":1,"1":14.21,"2":4.04,"3":2.44,"4":18.9,"5":111,"6":2.85,"7":2.65,"8":0.3,"9":1.25,"10":5.24,"11":0.87,"12":3.33,"13":1080},{"Unnamed: 0.4":46,"Unnamed: 0.3":46,"Unnamed: 0.2":46,"Unnamed: 0.1":46,"Unnamed: 0":46,"0":1,"1":14.38,"2":3.59,"3":2.28,"4":16.0,"5":102,"6":3.25,"7":3.17,"8":0.27,"9":2.19,"10":4.9,"11":1.04,"12":3.44,"13":1065},{"Unnamed: 0.4":47,"Unnamed: 0.3":47,"Unnamed: 0.2":47,"Unnamed: 0.1":47,"Unnamed: 0":47,"0":1,"1":13.9,"2":1.68,"3":2.12,"4":16.0,"5":101,"6":3.1,"7":3.39,"8":0.21,"9":2.14,"10":6.1,"11":0.91,"12":3.33,"13":985},{"Unnamed: 0.4":48,"Unnamed: 0.3":48,"Unnamed: 0.2":48,"Unnamed: 0.1":48,"Unnamed: 0":48,"0":1,"1":14.1,"2":2.02,"3":2.4,"4":18.8,"5":103,"6":2.75,"7":2.92,"8":0.32,"9":2.38,"10":6.2,"11":1.07,"12":2.75,"13":1060},{"Unnamed: 0.4":49,"Unnamed: 0.3":49,"Unnamed: 0.2":49,"Unnamed: 0.1":49,"Unnamed: 0":49,"0":1,"1":13.94,"2":1.73,"3":2.27,"4":17.4,"5":108,"6":2.88,"7":3.54,"8":0.32,"9":2.08,"10":8.9,"11":1.12,"12":3.1,"13":1260},{"Unnamed: 0.4":50,"Unnamed: 0.3":50,"Unnamed: 0.2":50,"Unnamed: 0.1":50,"Unnamed: 0":50,"0":1,"1":13.05,"2":1.73,"3":2.04,"4":12.4,"5":92,"6":2.72,"7":3.27,"8":0.17,"9":2.91,"10":7.2,"11":1.12,"12":2.91,"13":1150},{"Unnamed: 0.4":51,"Unnamed: 0.3":51,"Unnamed: 0.2":51,"Unnamed: 0.1":51,"Unnamed: 0":51,"0":1,"1":13.83,"2":1.65,"3":2.6,"4":17.2,"5":94,"6":2.45,"7":2.99,"8":0.22,"9":2.29,"10":5.6,"11":1.24,"12":3.37,"13":1265},{"Unnamed: 0.4":52,"Unnamed: 0.3":52,"Unnamed: 0.2":52,"Unnamed: 0.1":52,"Unnamed: 0":52,"0":1,"1":13.82,"2":1.75,"3":2.42,"4":14.0,"5":111,"6":3.88,"7":3.74,"8":0.32,"9":1.87,"10":7.05,"11":1.01,"12":3.26,"13":1190},{"Unnamed: 0.4":53,"Unnamed: 0.3":53,"Unnamed: 0.2":53,"Unnamed: 0.1":53,"Unnamed: 0":53,"0":1,"1":13.77,"2":1.9,"3":2.68,"4":17.1,"5":115,"6":3.0,"7":2.79,"8":0.39,"9":1.68,"10":6.3,"11":1.13,"12":2.93,"13":1375},{"Unnamed: 0.4":54,"Unnamed: 0.3":54,"Unnamed: 0.2":54,"Unnamed: 0.1":54,"Unnamed: 0":54,"0":1,"1":13.74,"2":1.67,"3":2.25,"4":16.4,"5":118,"6":2.6,"7":2.9,"8":0.21,"9":1.62,"10":5.85,"11":0.92,"12":3.2,"13":1060},{"Unnamed: 0.4":55,"Unnamed: 0.3":55,"Unnamed: 0.2":55,"Unnamed: 0.1":55,"Unnamed: 0":55,"0":1,"1":13.56,"2":1.73,"3":2.46,"4":20.5,"5":116,"6":2.96,"7":2.78,"8":0.2,"9":2.45,"10":6.25,"11":0.98,"12":3.03,"13":1120},{"Unnamed: 0.4":56,"Unnamed: 0.3":56,"Unnamed: 0.2":56,"Unnamed: 0.1":56,"Unnamed: 0":56,"0":1,"1":14.22,"2":1.7,"3":2.3,"4":16.3,"5":118,"6":3.2,"7":3.0,"8":0.26,"9":2.03,"10":6.38,"11":0.94,"12":3.31,"13":970},{"Unnamed: 0.4":57,"Unnamed: 0.3":57,"Unnamed: 0.2":57,"Unnamed: 0.1":57,"Unnamed: 0":57,"0":1,"1":13.29,"2":1.97,"3":2.68,"4":16.8,"5":102,"6":3.0,"7":3.23,"8":0.31,"9":1.66,"10":6.0,"11":1.07,"12":2.84,"13":1270},{"Unnamed: 0.4":58,"Unnamed: 0.3":58,"Unnamed: 0.2":58,"Unnamed: 0.1":58,"Unnamed: 0":58,"0":1,"1":13.72,"2":1.43,"3":2.5,"4":16.7,"5":108,"6":3.4,"7":3.67,"8":0.19,"9":2.04,"10":6.8,"11":0.89,"12":2.87,"13":1285},{"Unnamed: 0.4":59,"Unnamed: 0.3":59,"Unnamed: 0.2":59,"Unnamed: 0.1":59,"Unnamed: 0":59,"0":2,"1":12.37,"2":0.94,"3":1.36,"4":10.6,"5":88,"6":1.98,"7":0.57,"8":0.28,"9":0.42,"10":1.95,"11":1.05,"12":1.82,"13":520},{"Unnamed: 0.4":60,"Unnamed: 0.3":60,"Unnamed: 0.2":60,"Unnamed: 0.1":60,"Unnamed: 0":60,"0":2,"1":12.33,"2":1.1,"3":2.28,"4":16.0,"5":101,"6":2.05,"7":1.09,"8":0.63,"9":0.41,"10":3.27,"11":1.25,"12":1.67,"13":680},{"Unnamed: 0.4":61,"Unnamed: 0.3":61,"Unnamed: 0.2":61,"Unnamed: 0.1":61,"Unnamed: 0":61,"0":2,"1":12.64,"2":1.36,"3":2.02,"4":16.8,"5":100,"6":2.02,"7":1.41,"8":0.53,"9":0.62,"10":5.75,"11":0.98,"12":1.59,"13":450},{"Unnamed: 0.4":62,"Unnamed: 0.3":62,"Unnamed: 0.2":62,"Unnamed: 0.1":62,"Unnamed: 0":62,"0":2,"1":13.67,"2":1.25,"3":1.92,"4":18.0,"5":94,"6":2.1,"7":1.79,"8":0.32,"9":0.73,"10":3.8,"11":1.23,"12":2.46,"13":630},{"Unnamed: 0.4":63,"Unnamed: 0.3":63,"Unnamed: 0.2":63,"Unnamed: 0.1":63,"Unnamed: 0":63,"0":2,"1":12.37,"2":1.13,"3":2.16,"4":19.0,"5":87,"6":3.5,"7":3.1,"8":0.19,"9":1.87,"10":4.45,"11":1.22,"12":2.87,"13":420},{"Unnamed: 0.4":64,"Unnamed: 0.3":64,"Unnamed: 0.2":64,"Unnamed: 0.1":64,"Unnamed: 0":64,"0":2,"1":12.17,"2":1.45,"3":2.53,"4":19.0,"5":104,"6":1.89,"7":1.75,"8":0.45,"9":1.03,"10":2.95,"11":1.45,"12":2.23,"13":355},{"Unnamed: 0.4":65,"Unnamed: 0.3":65,"Unnamed: 0.2":65,"Unnamed: 0.1":65,"Unnamed: 0":65,"0":2,"1":12.37,"2":1.21,"3":2.56,"4":18.1,"5":98,"6":2.42,"7":2.65,"8":0.37,"9":2.08,"10":4.6,"11":1.19,"12":2.3,"13":678},{"Unnamed: 0.4":66,"Unnamed: 0.3":66,"Unnamed: 0.2":66,"Unnamed: 0.1":66,"Unnamed: 0":66,"0":2,"1":13.11,"2":1.01,"3":1.7,"4":15.0,"5":78,"6":2.98,"7":3.18,"8":0.26,"9":2.28,"10":5.3,"11":1.12,"12":3.18,"13":502},{"Unnamed: 0.4":67,"Unnamed: 0.3":67,"Unnamed: 0.2":67,"Unnamed: 0.1":67,"Unnamed: 0":67,"0":2,"1":12.37,"2":1.17,"3":1.92,"4":19.6,"5":78,"6":2.11,"7":2.0,"8":0.27,"9":1.04,"10":4.68,"11":1.12,"12":3.48,"13":510},{"Unnamed: 0.4":68,"Unnamed: 0.3":68,"Unnamed: 0.2":68,"Unnamed: 0.1":68,"Unnamed: 0":68,"0":2,"1":13.34,"2":0.94,"3":2.36,"4":17.0,"5":110,"6":2.53,"7":1.3,"8":0.55,"9":0.42,"10":3.17,"11":1.02,"12":1.93,"13":750},{"Unnamed: 0.4":69,"Unnamed: 0.3":69,"Unnamed: 0.2":69,"Unnamed: 0.1":69,"Unnamed: 0":69,"0":2,"1":12.21,"2":1.19,"3":1.75,"4":16.8,"5":151,"6":1.85,"7":1.28,"8":0.14,"9":2.5,"10":2.85,"11":1.28,"12":3.07,"13":718},{"Unnamed: 0.4":70,"Unnamed: 0.3":70,"Unnamed: 0.2":70,"Unnamed: 0.1":70,"Unnamed: 0":70,"0":2,"1":12.29,"2":1.61,"3":2.21,"4":20.4,"5":103,"6":1.1,"7":1.02,"8":0.37,"9":1.46,"10":3.05,"11":0.906,"12":1.82,"13":870},{"Unnamed: 0.4":71,"Unnamed: 0.3":71,"Unnamed: 0.2":71,"Unnamed: 0.1":71,"Unnamed: 0":71,"0":2,"1":13.86,"2":1.51,"3":2.67,"4":25.0,"5":86,"6":2.95,"7":2.86,"8":0.21,"9":1.87,"10":3.38,"11":1.36,"12":3.16,"13":410},{"Unnamed: 0.4":72,"Unnamed: 0.3":72,"Unnamed: 0.2":72,"Unnamed: 0.1":72,"Unnamed: 0":72,"0":2,"1":13.49,"2":1.66,"3":2.24,"4":24.0,"5":87,"6":1.88,"7":1.84,"8":0.27,"9":1.03,"10":3.74,"11":0.98,"12":2.78,"13":472},{"Unnamed: 0.4":73,"Unnamed: 0.3":73,"Unnamed: 0.2":73,"Unnamed: 0.1":73,"Unnamed: 0":73,"0":2,"1":12.99,"2":1.67,"3":2.6,"4":30.0,"5":139,"6":3.3,"7":2.89,"8":0.21,"9":1.96,"10":3.35,"11":1.31,"12":3.5,"13":985},{"Unnamed: 0.4":74,"Unnamed: 0.3":74,"Unnamed: 0.2":74,"Unnamed: 0.1":74,"Unnamed: 0":74,"0":2,"1":11.96,"2":1.09,"3":2.3,"4":21.0,"5":101,"6":3.38,"7":2.14,"8":0.13,"9":1.65,"10":3.21,"11":0.99,"12":3.13,"13":886},{"Unnamed: 0.4":75,"Unnamed: 0.3":75,"Unnamed: 0.2":75,"Unnamed: 0.1":75,"Unnamed: 0":75,"0":2,"1":11.66,"2":1.88,"3":1.92,"4":16.0,"5":97,"6":1.61,"7":1.57,"8":0.34,"9":1.15,"10":3.8,"11":1.23,"12":2.14,"13":428},{"Unnamed: 0.4":76,"Unnamed: 0.3":76,"Unnamed: 0.2":76,"Unnamed: 0.1":76,"Unnamed: 0":76,"0":2,"1":13.03,"2":0.9,"3":1.71,"4":16.0,"5":86,"6":1.95,"7":2.03,"8":0.24,"9":1.46,"10":4.6,"11":1.19,"12":2.48,"13":392},{"Unnamed: 0.4":77,"Unnamed: 0.3":77,"Unnamed: 0.2":77,"Unnamed: 0.1":77,"Unnamed: 0":77,"0":2,"1":11.84,"2":2.89,"3":2.23,"4":18.0,"5":112,"6":1.72,"7":1.32,"8":0.43,"9":0.95,"10":2.65,"11":0.96,"12":2.52,"13":500},{"Unnamed: 0.4":78,"Unnamed: 0.3":78,"Unnamed: 0.2":78,"Unnamed: 0.1":78,"Unnamed: 0":78,"0":2,"1":12.33,"2":0.99,"3":1.95,"4":14.8,"5":136,"6":1.9,"7":1.85,"8":0.35,"9":2.76,"10":3.4,"11":1.06,"12":2.31,"13":750},{"Unnamed: 0.4":79,"Unnamed: 0.3":79,"Unnamed: 0.2":79,"Unnamed: 0.1":79,"Unnamed: 0":79,"0":2,"1":12.7,"2":3.87,"3":2.4,"4":23.0,"5":101,"6":2.83,"7":2.55,"8":0.43,"9":1.95,"10":2.57,"11":1.19,"12":3.13,"13":463},{"Unnamed: 0.4":80,"Unnamed: 0.3":80,"Unnamed: 0.2":80,"Unnamed: 0.1":80,"Unnamed: 0":80,"0":2,"1":12.0,"2":0.92,"3":2.0,"4":19.0,"5":86,"6":2.42,"7":2.26,"8":0.3,"9":1.43,"10":2.5,"11":1.38,"12":3.12,"13":278},{"Unnamed: 0.4":81,"Unnamed: 0.3":81,"Unnamed: 0.2":81,"Unnamed: 0.1":81,"Unnamed: 0":81,"0":2,"1":12.72,"2":1.81,"3":2.2,"4":18.8,"5":86,"6":2.2,"7":2.53,"8":0.26,"9":1.77,"10":3.9,"11":1.16,"12":3.14,"13":714},{"Unnamed: 0.4":82,"Unnamed: 0.3":82,"Unnamed: 0.2":82,"Unnamed: 0.1":82,"Unnamed: 0":82,"0":2,"1":12.08,"2":1.13,"3":2.51,"4":24.0,"5":78,"6":2.0,"7":1.58,"8":0.4,"9":1.4,"10":2.2,"11":1.31,"12":2.72,"13":630},{"Unnamed: 0.4":83,"Unnamed: 0.3":83,"Unnamed: 0.2":83,"Unnamed: 0.1":83,"Unnamed: 0":83,"0":2,"1":13.05,"2":3.86,"3":2.32,"4":22.5,"5":85,"6":1.65,"7":1.59,"8":0.61,"9":1.62,"10":4.8,"11":0.84,"12":2.01,"13":515},{"Unnamed: 0.4":84,"Unnamed: 0.3":84,"Unnamed: 0.2":84,"Unnamed: 0.1":84,"Unnamed: 0":84,"0":2,"1":11.84,"2":0.89,"3":2.58,"4":18.0,"5":94,"6":2.2,"7":2.21,"8":0.22,"9":2.35,"10":3.05,"11":0.79,"12":3.08,"13":520},{"Unnamed: 0.4":85,"Unnamed: 0.3":85,"Unnamed: 0.2":85,"Unnamed: 0.1":85,"Unnamed: 0":85,"0":2,"1":12.67,"2":0.98,"3":2.24,"4":18.0,"5":99,"6":2.2,"7":1.94,"8":0.3,"9":1.46,"10":2.62,"11":1.23,"12":3.16,"13":450},{"Unnamed: 0.4":86,"Unnamed: 0.3":86,"Unnamed: 0.2":86,"Unnamed: 0.1":86,"Unnamed: 0":86,"0":2,"1":12.16,"2":1.61,"3":2.31,"4":22.8,"5":90,"6":1.78,"7":1.69,"8":0.43,"9":1.56,"10":2.45,"11":1.33,"12":2.26,"13":495},{"Unnamed: 0.4":87,"Unnamed: 0.3":87,"Unnamed: 0.2":87,"Unnamed: 0.1":87,"Unnamed: 0":87,"0":2,"1":11.65,"2":1.67,"3":2.62,"4":26.0,"5":88,"6":1.92,"7":1.61,"8":0.4,"9":1.34,"10":2.6,"11":1.36,"12":3.21,"13":562},{"Unnamed: 0.4":88,"Unnamed: 0.3":88,"Unnamed: 0.2":88,"Unnamed: 0.1":88,"Unnamed: 0":88,"0":2,"1":11.64,"2":2.06,"3":2.46,"4":21.6,"5":84,"6":1.95,"7":1.69,"8":0.48,"9":1.35,"10":2.8,"11":1.0,"12":2.75,"13":680},{"Unnamed: 0.4":89,"Unnamed: 0.3":89,"Unnamed: 0.2":89,"Unnamed: 0.1":89,"Unnamed: 0":89,"0":2,"1":12.08,"2":1.33,"3":2.3,"4":23.6,"5":70,"6":2.2,"7":1.59,"8":0.42,"9":1.38,"10":1.74,"11":1.07,"12":3.21,"13":625},{"Unnamed: 0.4":90,"Unnamed: 0.3":90,"Unnamed: 0.2":90,"Unnamed: 0.1":90,"Unnamed: 0":90,"0":2,"1":12.08,"2":1.83,"3":2.32,"4":18.5,"5":81,"6":1.6,"7":1.5,"8":0.52,"9":1.64,"10":2.4,"11":1.08,"12":2.27,"13":480},{"Unnamed: 0.4":91,"Unnamed: 0.3":91,"Unnamed: 0.2":91,"Unnamed: 0.1":91,"Unnamed: 0":91,"0":2,"1":12.0,"2":1.51,"3":2.42,"4":22.0,"5":86,"6":1.45,"7":1.25,"8":0.5,"9":1.63,"10":3.6,"11":1.05,"12":2.65,"13":450},{"Unnamed: 0.4":92,"Unnamed: 0.3":92,"Unnamed: 0.2":92,"Unnamed: 0.1":92,"Unnamed: 0":92,"0":2,"1":12.69,"2":1.53,"3":2.26,"4":20.7,"5":80,"6":1.38,"7":1.46,"8":0.58,"9":1.62,"10":3.05,"11":0.96,"12":2.06,"13":495},{"Unnamed: 0.4":93,"Unnamed: 0.3":93,"Unnamed: 0.2":93,"Unnamed: 0.1":93,"Unnamed: 0":93,"0":2,"1":12.29,"2":2.83,"3":2.22

## Read HTML content

In [34]:
!pip3 install lxml

Requirement already satisfied: lxml in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (5.2.0)

WARNING: Ignoring invalid distribution -ip (c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages)

In [36]:
url = 'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/'
dfs = pd.read_html(url)

In [37]:
dfs[0]

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Citizens Bank,Sac City,IA,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
1,Heartland Tri-State Bank,Elkhart,KS,25851,"Dream First Bank, N.A.","July 28, 2023",10544
2,First Republic Bank,San Francisco,CA,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
3,Signature Bank,New York,NY,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
4,Silicon Valley Bank,Santa Clara,CA,24735,First–Citizens Bank & Trust Company,"March 10, 2023",10539
...,...,...,...,...,...,...,...
563,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001",6004
564,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001",4648
565,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001",4647
566,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000",4646
567,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000",4645

In [38]:
type(dfs)

list

## Reading EXCEL files

In [39]:
df_excel = pd.read_excel('Excel_Sample.xlsx')

In [40]:
df_excel.head()

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

## Pickling

All pandas objects are equiped with to_pickle methods which use python's pickle module to save data structures to disk using the pickle format.

In [41]:
df_excel.to_pickle('df_excel')

In [42]:
df2 = pd.read_pickle('df_excel')

In [43]:
df2

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15