### Sets

A set is a unordered collection of data type that is iterable,mutable and has no duplicate elements. Python's set class represents the mathematical notion of set. This is based on a data structure known as a hash table.

In [1]:
#Defining an empty set
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [2]:
set_var = {"Avengers","Iron Man","Captain America"}

In [3]:
print(set_var)
print(type(set_var))

{'Avengers', 'Captain America', 'Iron Man'}
<class 'set'>

In [7]:
set_var.add("Hulk")

In [8]:
print(set_var)

{'Avengers', 'Hulk', 'Captain America', 'Iron Man'}

In [14]:
set1 = {"Avengers","Iron Man","Hitman"}
set2 = {"Avengers","Iron Man","Hitman","Hulk"}

In [16]:
set2.intersection_update(set1)

In [17]:
set2

{'Avengers', 'Hitman', 'Iron Man'}

In [10]:
set2.difference(set1)

{'Hulk'}

In [11]:
set2.difference_update(set1)

In [12]:
print(set2)

{'Hulk'}

### Dictionaries

A dictionary is a collection which is unordered,changeable and indexed. In python dictionaries are written with curly brackets, and they have keys and values.

In [18]:
dic = {}

In [19]:
type(dic)

dict

In [20]:
dic = {1,2,3,4,5}

In [21]:
type(dic)

set

In [22]:
my_dict = {"Car1":"Audi","Car2":"BMW","Car3":"Mercedes Benz"}
type(my_dict)

dict

In [24]:
#accessing dictionary items based on keys
my_dict['Car1']

'Audi'

In [25]:
#we can even loop through the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [26]:
for x in my_dict.values():
    print(x)

Audi
BMW
Mercedes Benz

In [27]:
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercedes Benz')

In [28]:
my_dict['Car4'] = 'KIA'

In [29]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercedes Benz', 'Car4': 'KIA'}

In [30]:
my_dict['Car1'] = 'Maruti'

In [31]:
my_dict

{'Car1': 'Maruti', 'Car2': 'BMW', 'Car3': 'Mercedes Benz', 'Car4': 'KIA'}

#### Nested Dictionary

In [32]:
car1_model = {'Mercedes':1960}
car2_model = {'Audi':1970}
car3_model = {'Ambassador':1980}

car_type = {'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [33]:
print(car_type
      )

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [35]:
print(car_type['car1'])

{'Mercedes': 1960}

In [34]:
print(car_type['car1']['Mercedes'])

1960

#### Tuples

In [37]:
#create an empty tuples
my_tuple = tuple()

In [38]:
type(my_tuple)

tuple

In [39]:
my_tuple = ("Amruta","John","Ankur")

In [40]:
my_tuple[0]

'Amruta'

In [41]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Amruta', 'John', 'Ankur')

In [42]:
#inbuilt function
my_tuple.count('Amruta')

1

In [43]:
my_tuple.index('Amruta')

0